@model IEnumerable<WebApplication1.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Books" asp-action="Index" method="get">
    <label for="search">Search:</label>
    <input type="text" id="search" name="search" value="@ViewBag.SearchString" />
    <input type="submit" value="Search" />
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfPublication)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfExamples)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th></th>
        </tr>
    </thead>
<tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstAuthor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfPublication)
            </td>
                <td>
                    <img src="@Url.Action("GetImage", "Books", new { id = item.BookId@*, width = 100, height = 100 *@, random = DateTime.Now.Ticks  })" alt="Book Image" style="width: 250px; height: 300px;" />
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfExamples)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher.City)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> 
                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                {
                    <text> | </text>
                    <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> 
                    <text> | </text>
                    <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                }
            </td>
        </tr>
}
</tbody>
</table>
