@model IEnumerable<WebApplication1.Models.Book>

@{
    ViewData["Title"] = "Книги";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/additional_styles.css">
    <style>
        
        input {
            width: 30%;
            height: 50%;
            min-height: 40px;
            border-radius: 10%;
            border-radius: 11px;
        }

        .btnn {
            min-height: 30px;
            background-color: #795548;
            color: white;
            padding: 10px;
            border: none;
            width: 10%;
            cursor: pointer;
            border-radius: 10%;
            border-radius: 11px;
        }
    </style>
</head>
<h1>Книги</h1>

@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <p class="text-center">
        <a asp-action="Create">Добавить новую книгу</a>
    </p>

}

<form asp-controller="Books" asp-action="Index" method="get" class="text-center">
    
    <input type="text" id="search" name="search" value="@ViewBag.SearchString" />
    <input type="submit" class="btnn" value="Поиск" />
    <p></p>
</form>
<p class="text-center">
    Показать книги...
    <a asp-action="Index" asp-route-filter="all">Все</a> |
    <a asp-action="Index" asp-route-filter="available">Доступные для аренды</a> |
    <a asp-action="Index" asp-route-filter="archived">Архив</a>
</p>
<hr>
<table class="table">
    @* <thead>
        <tr>
            <th></th>
            <th>Информация</th>
            <th></th>
        </tr>
    </thead> *@
    <tbody >
        @foreach (var item in Model)
        {
            <tr>
                <td style="padding-left: 10%; text-align: right;">
                    <img src="@Url.Action("GetImage", "Books", new { id = item.BookId, width = 100, height = 100, random = DateTime.Now.Ticks })" 
                    alt="Book Image" 
                    class="img-fluid mb-4"
                         style="width: 200px; height: 270px; max-width: 200px; max-height: 270px;min-width: 200px; min-height: 270px;
                        border-radius: 10%; border-radius: 11px; border: 1px solid  #795548;" />
                </td>
                <td style="padding-left: 10%; text-align: left;">
                    <table>
                        <tr>
                            <td>Название:</td>
                            <td>@Html.DisplayFor(modelItem => item.Title)</td>
                        </tr>
                        <tr>
                            <td>Автор:</td>
                            <td>@Html.DisplayFor(modelItem => item.FirstAuthor.Name)</td>
                        </tr>
                        <tr>
                            <td>Год публикации:</td>
                            <td>@Html.DisplayFor(modelItem => item.YearOfPublication)</td>
                        </tr>
                        <tr>
                            <td>Цена:</td>
                            <td>@Html.DisplayFor(modelItem => item.Price) руб</td>
                        </tr>
                        <tr>
                            <td class="col-3">Количество экземпляров:</td>
                            <td>@Html.DisplayFor(modelItem => item.NumberOfExamples) шт</td>
                        </tr>
                        <tr>
                            <td>Издатель:</td>
                            <td>@Html.DisplayFor(modelItem => item.Publisher.City)</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.BookId">Детальная информация</a>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <text> | </text>
                        <a asp-action="Edit" asp-route-id="@item.BookId">Редактировать</a>
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.BookId">Удалить</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


