@model WebApplication1.Models.Reader

@{
    ViewData["Title"] = "Детальная информация";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/additional_styles.css">
</head>
<div class="text-center">
    <h4>Читатель</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.FormattedPhoneNumber)
        </dd>
        <dt class = "col-sm-12">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div class="text-center">
    <a asp-action="Index">Назад</a>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <text> | </text>
    <a asp-action="Edit" asp-route-id="@Model?.ReaderId">Редактировать</a> 
    }
</div>
