@model IEnumerable<WebApplication1.Models.Reader>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/additional_styles.css">
</head>
<h1>Читатели</h1>
@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <p class="text-center">
        <a asp-action="Create" class="text-center">Зарегестрировать нового</a>
    </p>

}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patronymic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormattedPhoneNumber)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ReaderId">Детальная информация</a> |
                <a asp-action="Edit" asp-route-id="@item.ReaderId">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.ReaderId">Удалить</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <text> | </text>
                        <a asp-action="ChangeUserRole" asp-route-userId="@item.ReaderId">Изменить роль</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
