@model WebApplication1.Models.Issue

@{
    ViewData["Title"] = "Дательная информация";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/additional_styles.css">
</head>
<div>
    <h4>Номер: @Model.IssueId</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-12">
            Выдана
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.IssueDate)
        </dd>
        <dt class="col-sm-12">
            Крайняя дата возврата
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class="col-sm-12">
            @Html.DisplayNameFor(model => model.isСonfirmed)
        </dt>
        <dd>
            <p>@(Model.isСonfirmed ? "Подтверждена" : "Ожидает подтверждения")</p>
        </dd>
        <dt class="col-sm-12">
            Читатель
        </dt>
        <dd class="col-sm-12">
            <p>@Model.Reader.FirstName @Model.Reader.LastName</p>
            <p>@(Model.Reader.Patronymic != null ? Model.Reader.Patronymic : " ")</p>
            <p>@Model.Reader.Address</p>
            <p>@Model.Reader.FormattedPhoneNumber</p>
        </dd>
        <dt class="col-sm-12">
            Список арендованных книг
        </dt>
        <dd class="col-sm-12">
            @foreach (var book in Model.Books)
            {
                <p>@book.Title - @(book.FirstAuthor != null ? book.FirstAuthor.Name : "Неизвестный автор")</p>
            }
        </dd>
        <dt class="col-sm-12">
            Сумма
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Price) руб
        </dd>
    </dl>
</div>
<div style="text-align: center;">
    <a asp-action="Index">Назад</a>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <text> | </text>
    <a asp-action="Edit" asp-route-id="@Model.IssueId">Редактировать</a> 
    }
</div>
