@model WebApplication1.Models.Issue

@{
    ViewData["Title"] = "Details";
}

<h1>Issue Details</h1>

<div>
    <h4>Issue Id: @Model.IssueId</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Issue Date:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IssueDate)
        </dd>
        <dt class="col-sm-2">
            Return Date:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
        <dt class="col-sm-2">
            Reader:
        </dt>
        <dd class="col-sm-10">
            <p>@Model.Reader.FirstName @Model.Reader.LastName</p>
            <p>@(Model.Reader.Patronymic != null ? Model.Reader.Patronymic : " ")</p>
            <p>@Model.Reader.Address</p>
            <p>@Model.Reader.PhoneNumber</p>
        </dd>
        <dt class="col-sm-2">
            Books:
        </dt>
        <dd class="col-sm-10">
            @foreach (var book in Model.Books)
            {
                <p>@book.Title by @(book.FirstAuthor != null ? book.FirstAuthor.Name : "Unknown Author")</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IssueId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
