@model IEnumerable<WebApplication1.Models.Issue>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Issues" asp-action="Index" method="get">
    <label for="search">Search:</label>
    <input type="text" id="search" name="search" value="@ViewBag.SearchString" />
    <input type="submit" value="Search" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IssueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isСonfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnDate)
                </td>
                <td>
                    <p>@(item.isСonfirmed? "Подтверждена": "Ожидает подтверждения")</p>
                </td>
                <td>
                    <p>@item.Reader.FirstName</p>
                    <p>@item.Reader.LastName</p>
                    <p>@item.Reader.Patronymic</p>
                    <p>@item.Reader.Address</p>
                    <p>@item.Reader.FormattedPhoneNumber</p>
                </td>
                <td>
                    @foreach (var book in item.Books)
                    {
                        <p>@book.Title - @(book.FirstAuthor != null ? book.FirstAuthor.Name : "Unknown Author")</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price) руб
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IssueId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IssueId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IssueId">Delete</a>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <text> | </text>
                        <a asp-action="Status" asp-route-id="@item.IssueId">Status</a>
                    }
                </td>
            </tr>
        }
        <p>
            Show issues:
            <a asp-action="Index" asp-route-filter="all">All</a> |
            <a asp-action="Index" asp-route-filter="confirmed">Confirmed</a> |
            <a asp-action="Index" asp-route-filter="pending">Pending Confirmation</a>
        </p>

    </tbody>
</table>
