@model WebApplication1.Models.Author

@{
    ViewData["Title"] = "Детальная информация";
}

<head>
<link rel="stylesheet" type="text/css" href="~/css/additional_styles.css">
</head>
<div style="text-align: center;">
    <h4>Автор</h4>
    <hr />
    <dl class="row">
        <dd class="col" style="display: flex; justify-content: center; align-items: center;">
            <img src="@Url.Action("GetImage", "Authors", new { id = Model.AuthorId, width = 100, height = 100, random = DateTime.Now.Ticks })" 
            alt="Book Image" 
            class="img-fluid mb-4"
                 style="width: 290px; height: 350px; max-width: 290px; max-height: 350px;min-width: 290px; min-height: 350px;
        margin-right: 20px; border-radius: 35%;" />
            <div>
                <dt style="text-align: center;">
                    <h3>@(@Model.Name != null ? @Model.Name : "")</h3>
                </dt>
                <dd style="text-align: left; padding-left: 10%; padding-right: 9%;">
                    <p> @(@Model.Info != null ? @Model.Info : "") </p>
                </dd>
            </div>
        </dd>
    </dl>
<div style="text-align: center;">
    <a asp-action="Index">Назад</a>
    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
    {
        <text> | </text>
    <a asp-action="Edit" asp-route-id="@Model?.AuthorId">Редактировать</a> 
    }
</div>
</div>