@model IEnumerable<WebApplication1.Models.Publisher>

@{
    ViewData["Title"] = "Издательства";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/additional_styles.css">
</head>
<h1>Издательства</h1>
@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <p class="text-center">
        <a asp-action="Create" class="text-center">Добавить новое</a>
    </p>

}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameOfPublisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameOfPublisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
                        <a asp-action="Details" asp-route-id="@item.PublisherId">Детальная инфофрмация</a> 
                        <text> | </text>
                        <a asp-action="Edit" asp-route-id="@item.PublisherId">Редактирование</a> 
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.PublisherId">Удаление</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
