@model IEnumerable<WebApplication1.Models.Publisher>

@{
    ViewData["Title"] = "Издательства";
}
<style>
    .center-content {
        text-align: center;
    }

    .table-container {
        margin-left: 55px;
        margin-right: 55px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table td, .table th {
            padding: 10px;
            border: 1px solid #ddd;
        }

    td {
        text-align: center;
        margin-top: 35px;
    }
    tr {
        text-align: center;
        margin-top: 35px;
    }

    th {
        text-align: center;
        margin-top: 15px;
    }
</style>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/additional_styles.css">
</head>
<h1 class="text-center">Издательства</h1>
@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <p class="text-center">
        <a asp-action="Create" class="text-center">Добавить новое</a>
    </p>

}
<table class="table">
    <thead>
        <tr class="center-content">
            <th>
                @Html.DisplayNameFor(model => model.NameOfPublisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="center-content">
            <td>
                @Html.DisplayFor(modelItem => item.NameOfPublisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                    {
            <td>
                        @* <a asp-action="Details" asp-route-id="@item.PublisherId">Детальная инфофрмация</a> 
                        <text> | </text> *@
                        <a asp-action="Edit" asp-route-id="@item.PublisherId">Редактирование</a> 
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.PublisherId">Удаление</a>
            </td>
                    }
        </tr>
}
    </tbody>
</table>
